.add-btn {
    margin-left: 20px;
    border-radius: 7px;
    box-shadow: burlywood;
    background-color: cadetblue;
}
.childForm {
    width: 400px;
    margin-left: 200px;
    background-color: rgb(21, 21, 29);
    border-radius: 8px;
    margin-top: 60px;
}