
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

.nav_ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 800px;
  

}
.nav-link {
  color: rgb(6, 63, 63);
  font-size: .5cm;
}
li {
  list-style: none;
}